{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="form_title">{{ form_title }}</h1>
  <form method="post" class="form">
    {% csrf_token %} 
    {% if form.non_field_errors %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js"></script>
      <script>
        alertify.error("{{ form.non_field_errors | striptags }}");
      </script>
    {% endif %}
    {% for f in form %}
      <label for="{{ f.id_for_label }}"> {{ f.label }}: </label> 
      {{ f }} 
      {% if f.errors %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js"></script>
        <script>
          alertify.error("{{ f.errors | striptags }}");
        </script>
      {% endif %} 
    {% endfor %}
    <button type="submit">{{ submit_btn_text }}</button>
  </form>
</div>
{% endblock %}