{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="form_title">{{ form_title }}</h1>
  <form method="post" class="form">
    {% csrf_token %} 
    {% if form.non_field_errors %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js"></script>
      <script>
        alertify.error("{{ form.non_field_errors | striptags }}");
      </script>
    {% endif %}
    {% for f in form %}
      {% if f.id_for_label == "id_is_manager" %}
        <div class="form-check form-switch">
          {{ f }}
          <label class="form-check-label" for="{{ f.id_for_label }}"> {{ f.label }} </label>
        </div>
      {% else %}
        <label for="{{ f.id_for_label }}"> {{ f.label }}: </label>
        {{ f }}
      {% endif %}
      {% if f.errors %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js"></script>
        <script>
          alertify.error("{{ f.errors | striptags }}");
        </script>
      {% endif %} 
    {% endfor %}
    <button class="submit-btn" type="submit">{{ submit_btn_text }}</button>
  </form>
</div>
{% endblock %}