{% load static %}
<form method="post" id="formModal" action="{% url form_action %}" class="row gy-2 gx-3 align-items-center" style="width: 100%;">
	{% csrf_token %} 
	{% if form.non_field_errors %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js"></script>
		<script>
			alertify.error("{{ form.non_field_errors | striptags }}");
		</script>
	{% endif %} 
	<div class="col">
		{% for f in form_first_col %}
				<label for="{{ f.id_for_label }}"> {{ f.label }}: </label> 
				{{ f }} 
			{% if f.errors %}
				<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js"></script>
				<script>
					alertify.error("{{ f.errors | striptags }}");
				</script>
			{% endif %} 
		{% endfor %}
	</div>
	<div class="col">
		{% for f in form_second_col %}
				<label for="{{ f.id_for_label }}"> {{ f.label }}: </label> 
				{{ f }} 
			{% if f.errors %}
				<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js"></script>
				<script>
					alertify.error("{{ f.errors | striptags }}");
				</script>
			{% endif %} 
		{% endfor %}
	</div>
</form>
