<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Вход в систему</h1>
    <form method="post">
        {% csrf_token %}
    {% if form.non_field_errors %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js"></script>
        <script>
        alertify.error("{{ form.non_field_errors | striptags }}");
        </script>
    {% endif %}
        {% for f in form %}
            <label for="{{ f.id_for_label }}"> {{ f.label }}: </label> {{ f }}
            {% if f.errors %}
                <script>
                  alertify.error("{{ f.errors | striptags }}");
                </script>
            {% endif %}
        {% endfor %}
        <button type="submit"> Войти в систему </button>
    </form>
</body>
</html>