<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Войти в систему</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
    <h1>Вход в систему</h1>

    <form id="authorization-form" action="/app/login/" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Email" required />
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" placeholder="Пароль" required />
      </div>

      <button type="submit">Войти в систему</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js"></script>
    <script>
      document.getElementById("authorization-form").addEventListener("submit", function (event) {
        event.preventDefault();

        let formData = new FormData(this);

        fetch("/app/login/", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.Status == false) {
              let message = data.message;
              alertify.error(message);}
              else {
              alertify.success(data.message);
            }
          })
      });
    </script>
  </body>
</html>
