{% extends 'base.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static "css/main_menu.css" %}">
{% endblock %}
{% block content %}
  <h1>Управление командной работой</h1>
  <div class="menu__container">
    <div class="menu__block">
      <b><p class="menu__block-title"> Проекты </p></b>
      <button class="menu__block-btn"><a href="{% url 'view-projects' %}"> Просмотр проектов </a></button><br><br>
      <button class="menu__block-btn"><a href="{% url 'create-project' %}"> Создать проект </a></button>
    </div>
    <div class="menu__block">
      <b><p class="menu__block-title"> Задачи </p></b>
      <button class="menu__block-btn"><a href="{% url 'user-tasks' %}"> Просмотр задач </a></button><br><br>
      <button class="menu__block-btn"><a href="{% url 'user-tasks-create' %}"> Создать задачу </a></button>
    </div>
    <div class="menu__block">
      <b><p class="menu__block-title"> Другое </p></b>
      <button class="menu__block-btn"> Профиль </button>
    </div>
  </div>
      {% if flash_messages %}
        {% for message in flash_messages %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js"></script>
            <script>
            alertify.success("{{ message }}");
            </script>
        {% endfor %}
      {% endif %}
{% endblock %}


