{% extends 'base.html' %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/projectList.css" %}">
  <style>

  </style>
{% endblock %}

{% block content %}
  {% for project in projects %}
    <a href="{% url 'view-board' project_id=project.id %}">
    <div class="project-row">
        <div class="project-info">
          {{ project.name }}
        </div>
        <div class="project-info">
          Описание: {{ project.description }}
        </div>
        <div class="project-info">
          Создатель: {{ project.creator }} - Создано: {{ project.created_at|date:"d F Y" }}
        </div>
    </div>
    </a>
  {% endfor %}
{% endblock %}